//----------------------------------
// FONTS
//----------------------------------

// Font Smoothing
=font-smoothing
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

// Font Mixins
=font-default
	font-family: sans-serif
	font-weight: normal
	+font-smoothing

//----------------------------------
// UTILITIES
//----------------------------------

// Convert pixels into em units
@function em($px, $context: 16)
	@return $px / $context + 0em

// Convert pixels into rem units
@function rem($px, $context: 16)
	@return $px / $context + 0rem

// Clear Function
=cf
	zoom: 1
	&:before,
	&:after
		content: "\0020"
		display: block
		height: 0
		overflow: hidden
	&:after
		clear: both

// Alpha Transparency
=rgba($color, $alpha)
	$rgba: rgba($color, $alpha)
	$ie-hex-str: ie-hex-str($rgba)
	background-color: transparent
	background-color: $rgba
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str})
	zoom: 1

// Simple Transitions
=transition($speed)
	-webkit-transition: all $speed
	-moz-transition: all $speed
	-ms-transition: all $speed
	-o-transition: all $speed
	transition: all $speed

// Simple Transforms
=transform-translate($amount1, $amount2)
	-webkit-transform: translate($amount1, $amount2)
	-moz-transform: translate($amount1, $amount2)
	-ms-transform: translate($amount1, $amount2)
	-o-transform: translate($amount1, $amount2)
	transform: translate($amount1, $amount2)

=transform-scale($amount)
	-webkit-transform: scale($amount)
	-moz-transform: scale($amount)
	-ms-transform: scale($amount)
	-o-transform: scale($amount)
	transform: scale($amount)

=transform-rotate($amount)
	-webkit-transform: rotate($amount)
	-moz-transform: rotate($amount)
	-ms-transform: rotate($amount)
	-o-transform: rotate($amount)
	transform: rotate($amount)

// Box Shadows
=box-shadow($bs1, $bs2, $bs3, $bs4, $bs5)
	-webkit-box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5
	-moz-box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5
	-ms-box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5
	-o-box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5
	box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5

// Border Radius
=border-radius($rd)
	-webkit-border-radius: $rd
	-moz-border-radius: $rd
	-ms-border-radius: $rd
	-o-border-radius: $rd
	border-radius: $rd

// Opacity
=opacity($alpha)
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)"
	filter: alpha(opacity = $alpha * 100)
	-webkit-opacity: $alpha
	-moz-opacity: $alpha
	-khtml-opacity: $alpha
	opacity: $alpha

// Background Size - requires htc for old IE
=bg-size($type)
	background-repeat: no-repeat
	background-size: $type
	-ms-behavior: url(images/backgroundsize.htc)

// CSS Gradient - on hold due to changing webkit prefix
// =gradient($gd1, $gd2)
// 	background-color: $gd1
// 	background-image: -webkit-gradient(linear, left top, left bottom, from($gd1), to($gd2))
// 	background-image: -webkit-linear-gradient(top, $gd1, $gd2)
// 	background-image: -moz-linear-gradient(top, $gd1, $gd2)
// 	background-image: -o-linear-gradient(top, $gd1, $gd2)
// 	background-image: linear-gradient(to bottom, $gd1, $gd2)